html, body{
	width: 100%;
	margin:0px;
	font-family: 'Roboto', sans-serif;

}

.header{
	box-shadow: 0px 1px 1px 0px #c0c0c0;
	height: 70px;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: #fff;

}
.div_body{
	margin-top: 100px;
}
.header>div{
	display: inline-block;
}
.header>table{
 width: 100%;
 margin-top: 10px;
}
.menu_left>p{
	margin-left: 50px;
	padding-top:5px;

}

/*Плитка общего экрана*/

.plitka{
	display: inline-block;
	border: 1px solid gray;
	height: 200px;
	margin: 1px;
	margin-left: 3px;
	width: 31%;
	padding-left: 3px;
	color: #808080;

}

.header_left>p{
	font-size: 1em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.ex_item{
	line-height: 0.5;
	font-size: 0.8em;
}
/*Один день*/
.div_body_day{
	width: 100%;
	margin-top: 100px;
}
.day_ex_item{
	margin-top: 5px;
	height: 70px; 
	width: 100%;
	/*border: 1px solid gray;*/
	box-shadow: 0px 1px 1px 0px #c0c0c0;
	background-color: floralwhite;
}
.day_ex_item>div{
	display: inline-table;
	width: 45%;
	padding-left: 15px;
	margin-top: 25px;
	font-size: 1.5em;


}
.day_ex_item_middle{
	text-align: center;
}

.passed{
	background-color: #ADFEAF;
	transition: all 1.5s ease;
}
.planka{

}
div.timer {
	height:100%;
	width: 100%;
}