.tablo{
  font-size: 4em;
  font-weight: bold;
}
.ms{
  font-size: 0.5em;
}
.timer{
  width: 100%;
  text-align: center;
}
.preTimer{
  font-size: 3em;

  transition: all 0.5s ease;
}
.preTimer{
  height: 100px;
}
.bigTimer{
  font-size: 9em;
  font-weight: bold;
  transition: all 0.7s ease;

}