* {margin: 0; padding: 0;}
body {  
  background: #222;
}
.loader-ring {
  top: calc(50% - 150px);
  left: 50%;
  pointer-events: none;
}
#long-tail {
  visibility: hidden;
}
.btn {
  position: absolute;
  cursor: pointer;
  min-width: 190px;
  min-height: 190px;
  line-height: 60px;
  background: #25292C;
  margin: auto auto;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  text-align: center;
  border-radius: 999px;
  color: rgba(155,155,155,1);
  text-shadow: -1px -1px 0px rgba(255,255,255,0.8), 1px 1px 2px rgba(0,0,0,1);
  font-family: sans-serif;
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(255,255,255,0.1),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(0,0,0,0.2),
              1px 5px 30px -4px rgba(0,0,0,1);
  transition: 0.1s ease-out;
}
.btn>p{
  padding-top: 60px;
  font-size: 2em;
}
.btn:before {
  content: "";
  cursor: pointer;
  background: #1A1A1A;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -99;
  border-radius: 999px;
  box-shadow: inset -1px -1px 2px rgba(220,255,255,0.3), 
    inset -5px -15px 40px rgba(255,255,255,0.1),
    inset 1px 1px 2px rgba(0,0,0,0.5), 
    inset 5px 15px 40px rgba(0,0,0,0.2),
    -2px -40px 50px -20px rgba(255,255,255,0.1),
    2px 35px 50px -10px rgba(0,0,0,0.4),
    0px 0px 25px 8px rgba(60,60,60,1);
}

.btn-active{
  transition: 0.1s ease-out;
  text-shadow: 1px 1px 0px rgba(255,255,255,0.15);
  box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3), 
              inset 3px 15px 45px rgba(0,0,0,0.2),
              inset -1px -1px 2px rgba(0,0,0,0.5), 
              inset -3px -15px 45px rgba(255,255,255,0.1),
              1px 5px 10px -4px rgba(0,0,0,1);
}

.loader-ring {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 0 100% 0 0;
  border: 1px solid green;
  border-width: 0px 5px 0px 0px;
  box-shadow: 5px 1px 2px -4px green, inset -4px 1px 3px -4px green;
  transform-origin: 0px 100%;  
}
.loader-ring:after {
  position: absolute;
  height: 1px;
  width: 1px;
  top: 100%;
  left: calc(100% + 2px);
  border-radius: 100%;
  border-width: 0;
  background: green;
  box-shadow: 0px 0 3px 5px green;
  content: '';
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
#timer{
  font-size: 2.5em;
}
.ms{
  font-size: 50%;
}
/*Эту кнопку я просто спер с codepen спасибо тебе чувак если что, уж очень она крута*/